@font-face {
    font-family:Roboto;
    src: url(../Fuente/RobotoCondensed-Regular.ttf);
}
                /** GENERALES **/
*{
    padding: 0;
    margin: 0;
}        

body {
    background-color: #D7FDF0;
    font-family: Roboto;
}

.NavFondo {
    background-color: #FFA3A5;
}

.Header {
    margin: 1px;
}

a {
    text-decoration: none;
}


.Padding-0 {
    padding: 3px;
}

.MetodosPagoDiv {
    background-color: #B4D6D3;
}

.MetodosPagoDiv p:nth-child(2n) {
    background-color: #78918f;
}


.Center {
    display: flex;
    justify-content: center;
}

.A-Hover:hover {
    font-size: larger;
    color: red;

}
 


/* NavSecundario */ 

.Nav-Secundario a {
    text-decoration: none;
    color: black;
}

/** Footer Flex **/ 


.Blanco {
    color: white;
}

.Footer-Flex {
    background-color: #08605F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


                    /** INDEX **/

/* Header */ 

.Cuenta-Div {
    display: flex;
    border: solid 1px black;
    justify-content: center;
}

.Cuenta-Div a{
    color: black;
}



.navbar {
    border: solid 1px black;
}

.Main {
    height: 50%;
}

.Logo {
    width: 50%;
}

/* Main*/

.ProductosDiv {
    background-color: #B2FFD6;
    padding: 2px;
}

.InformacionDiv {
    margin: 1px;
}


.Local-Grid {
    background-color: #B2FFD6;
    padding: 1px;
}

.Iframe-Local {
    width: 100%;
}

.Separador {
    background-color: #dbb7b7;
    height: 2rem;
}


/** Productos Grid **/

.Productos-Secundarios{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "Producto1 Producto2"
    "Producto3 Producto4"
    ;
    grid-gap: 3px;
}

.Producto1 {
    grid-area: Producto1;
}

.Producto2 {
    grid-area: Producto2;
}

.Producto3 {
    grid-area: Producto3;
}

.Producto4 {
    grid-area: Producto4;
}


/** Local Grid (DESKTOP) **/ 
@media screen and (min-width:768px){
    .Local-Grid {
        display:grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "Imagen Parrafo"
        "Imagen Iframe"
        ;

    }

    .Parrafo-local {
        grid-area: Parrafo;
    }

    .Imagen-Local {
        grid-area: Imagen;
        align-self: center;
    }

    .Iframe-Local {
        grid-area: Iframe;
    }


}




/* Footer */



                /* CONTACTO */

 .Borde {
    border: solid 1px black;
 }



.Contacto-Main {
    background-color: #B2FFD6;
}

.Contacto-Img {
    width: 50%;
    padding: 4px;
}

.Sub-Contacto {
    display: flex;
    flex-flow: column nowrap;
    align-items:  center;
}


/* Imagenes Responsive*/

.Imagen-Local {
    width: 100%;
    padding: 4px;
}

.Productos-Secundarios img {
    width: 100%;
}
#Producto-Principal {
    width: 100%;
    padding: 4px;
}


.ListaTodosProductos img {
    width: 50%;
}